@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  box-sizing: border-box;
}

.text-red {
  color: #EE0000
}

.text-green {
  color: 	#33CC33;
}

.square {
  width: 40px;
  height: 40px;
}

.bg-blue {
  background-color: #0066FF;
}

.bg-pink {
  background-color: #FF33CC;
}

.bg-red {
  background-color: #EE0000;
}

.bg-yellow {
  background-color: #FFCC00;
}

.bg-deepblue {
  background-color: #00BFFF;
}

.bg-skyblue {
  background-color: #4169E1;
}

.bg-cyan {
  background-color: cyan;
}

.bg-orange {
  background-color: orange;
}

.left-13 {
  left: 5.5rem;
}

.border-gray {
  border: 1px solid gray;
}

.w-1_5 {
  width: 20%;
}

.h-half {
  height: 50%;
}

.w-half {
  width: 50%;
}

.w-4 {
  width: 40%;
}

.w-6 {
  width: 60%;
}
